body {
  margin: 0;
  padding: 0;
  font-family: "Space Grotesk", sans-serif;
  font-family: "Orbitron", sans-serif;
}

.bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
  pointer-events: none;
  filter: brightness(75%);
}

.conteudo {
  width: 580px;
  height: 900px;
  margin-top: 30px;
  margin-bottom: 30px;
  position: relative;
  border-radius: 16px;

  /* FUNDO conteudo */
  background: linear-gradient(
    90deg,
    rgba(0, 240, 255, 0.2) 0%,
    rgba(255, 46, 209, 0.05) 100%
  );

  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.conteudo::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 2px;

  border-radius: inherit;

  background: linear-gradient(-90deg, #00f0ff, #ff2ed1);

  -webkit-mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;

  pointer-events: none;
}

.header {
  margin-top: 50px;
}

.header .avatar{
  padding-bottom: 10px;
}
.header .nick{
  padding-bottom: 10px;
}
.header .about{
  font-family: "Space Grotesk", sans-serif;
  font-weight: 14px;
  text-align: center;
  color: #9CA3AF;
  letter-spacing: 1px;
}
